@import "tailwindcss";



:root {

  --text: #bfbfd9;
  --text-hover: #b2b2ed;
  --link: #a5a5f8;
  --link-hover: #9898e9;
  --background: #121212;
  --cta: #5D5DBF;
  --cta-hover: #4949a9;
  --dark-purple: #2b2b81;

  font-family: "Amiko" ,system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text);
  background-color: var(--background);
}

a {
  font-weight: 700;
}