@import "tailwindcss";
@import "flag-icons/css/flag-icons.min.css";

@font-face {
  font-family: 'InconsolataSubset';
  src: url('./assets/fonts/Inconsolata/Inconsolata-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'InconsolataSubset';
  src: url('./assets/fonts/Inconsolata/Inconsolata-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {

  --text: #ededed;
  --text-hover: #d4d4d4;
  --link: #d06694;
  --link-hover: #e47ba8;
  --shine: #f9a8cb;
  --secondary-text: #f2f2f4; 
  --background: #121212;
  --cta: #c9215f;
  --cta-rgb: 201,33,95;
  --shadow-rgb: 55, 55, 55;
  --cta-hover: #d73973;
  --dark-cta: #86123d;
  --success: #36dea0;

  font-family: 'Inconsolata', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 125%;

  color: var(--text);
  background-color: var(--background);
}

a {
  font-weight: 700;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px var(--background) inset !important;
    -webkit-text-fill-color: var(--text) !important;
    transition: background-color 5000s ease-in-out 0s;
}