@import "tailwindcss";



:root {

  --text: #9e9eba;
  --text-hover: #b2b2ed;
  --background: #121212;

  font-family: "Amiko" ,system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text);
  background-color: var(--background);
}


