@import "tailwindcss";



:root {

  --text: #9999c1;
  --text-hover: #b2b2ed;
  --background: #121212;
  --cta: #5D5DBF;
  --cta-hover: #4949a9;
  --dark-purple: #2b2b81;
  --bolder: 700;

  font-family: "Amiko" ,system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text);
  background-color: var(--background);
}

